{% extends "base.html" %}
{% block content %}
<form method="post">

<label for="titulo"> Titulo: </label>
<input type="text" id="titulo" name="titulo" required />
<br>
<label for="link_gravacao"> Link gravação: </label>
<input type="text" id="link_gravacao" name="link_gravacao" />
<br>
<label for="problemas_alias"> Sequencia de alias para problemas: </label>
<input type="text" id="problemas_alias" name="problemas_alias" />
<br>
<label for="problemas_links"> Sequencia de links para problemas: </label>
<textarea id="problemas_links" name="problemas_links" rows="4" cols="70"></textarea>
<br>
<button type="submit">Enviar</button>
</form>

{% endblock content %}  