{% extends "base.html" %}
{% block content %}
    {% for oficina in oficinas %}
        <div>
            <h1><a href="/oficinas/{{ oficina.id_oficina }}"> {{ oficina.titulo }}: {{ oficina.data_oficina }} </a></h1>
            <h2>{{ oficina.nome_autor }}</h2>
            <a href="{{ oficina.link_gravacao }}">Link da gravação</a>
        </div>
        {% for problema in oficina.problemas %}
            <a href="{{ problema.link_problema }}">{{ problema.alias }}</a>
        {% endfor %}
    {% endfor %}
{% endblock content %}